.myemp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 1800px) {
    .myemp {
        grid-template-columns: repeat(3, 1fr); /* Adjusting columns for smaller screens */
    }
}

@media (max-width: 1000px) {
    .myemp {
        grid-template-columns: repeat(2, 1fr); /* Adjusting columns for smaller screens */
    }
}


@media (max-width: 500px) {
    .myemp {
        grid-template-columns: repeat(1, 1fr); /* Adjusting columns for smaller screens */
    }
}
